@media only screen and (max-width: 992px) {
  .navbar-nav {
    display: none;
  }

  .navbar>.container {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 767px) {
  section {
    padding: 100px 0;
  }

  .address-bordered {
    border-left: none;
    border-right: none;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
}

@media only screen and (max-width: 575px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content .lead {
    font-size: 1rem;
  }

  .section-team .row [class^="col-"]:not(:last-child) {
    margin-bottom: 30px;
  }

  .header-contact {
    display: none;
  }
}